<div class="container mb-5">
    <div class="d-flex justify-content-between align-items-center m-3">

        <nav>
            <a asp-action="Index" asp-controller="Home" class="m-4">HOME</a>

            @if (signInManager.IsSignedIn(User) && User.IsInRole("admin"))
            {
                <a asp-action="Index" asp-controller="Admin" class="m-4">Admin</a>
            }
        </nav>
        <div>
            @if (signInManager.IsSignedIn(User))
            {
                <a asp-action="Index" asp-controller="Account">@User.Identity?.Name</a>
                <a asp-action="Index" asp-controller="Account">@(User.FindFirst("DisplayName")?.Value)</a>
                <a asp-action="SignOut" asp-controller="Account" class="m-4">SIGN OUT</a>
            }
            else
            {
                <a asp-action="SignUp" asp-controller="Account" class="m-4">SIGN UP</a>
                <a asp-action="SignIn" asp-controller="Account" class="m-4">SIGN IN</a>
            }
        </div>


    </div>
</div>